{% extends "base.html" %} {% block title %} Posts List {% endblock title %}
{%load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}" />
{% endblock css %} {% block content %}

<div class="posts_list">
  <h1>Archived Posts</h1>
  <hr />
  <br />
  <!-- #Context variable from views.py class PostDraftListView, must be same.-->
  {% for item in post_archived %}
  <div>
    <h2><a href="{% url 'post_detail' item.id %}">{{ item.title }}</a></h2>
    <br />
    <br />
    <p>Author: {{ item.author }}</p>
    <p>Created on: {{ item.created_on }}</p>
    <p>Last updated: {{ item.updated_on }}</p>
    <p>Status: {{ item.status }}</p>
  </div>
  <hr />
  {% empty %}
  <p>No posts available.</p>
  {% endfor %}
</div>
{% endblock content %}
