{% extends 'base.html'%} {% block content%}{% load static %}

<h1 style="text-align: center; padding: 20px; font-family: Arial, sans-serif">
  About Me
</h1>
<div class="card" style="width: 18rem; margin: auto">
  <img
    src="{% static 'img/james.jpeg' %}"
    alt="About Me"
    style="
      width: 200px;
      display: block;
      margin: auto;
      padding-top: 10px;
      text-align: center;
      border-radius: 50%;
    "
  />
  <div class="card-body">
    <h5 class="card-title">James Jones</h5>
    <h6 class="card-subtitle mb-2 text-muted">Batman</h6>
    <h6 class="card-subtitle mb-2 text-muted">Year: 2025</h6>
    <p class="card-text">
      Welcome to my blog! Here you can find articles, tutorials, and updates
      about my journey in web development. I have been passionate about coding
      for several years and love sharing my knowledge with others. Feel free to
      explore the posts and leave your comments!
    </p>
  </div>
</div>
{% endblock content%}
