.accounts_list {
    color: white;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #1f1e29;
}

.accounts_list h2 {
    text-decoration: underline;
}

.accounts_list p {
    text-align: left;
}

.accounts_list p1 {
    text-align: center;
}

.editForm {
    display: block;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #1f1e29;
    color: white;
    align-items: center;
}

.editForm p {
    display: block;
    margin-bottom: 10px;
}

.editForm label {
    display: block;
    margin-bottom: 5px;
}

.editForm input,
.editForm textarea,
.editForm select {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.editForm input.btn {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}